!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    - flash.each do |key, value|
      %div{:id => key, :class => 'flash'}
        = value
    %h1= link_to "Ticketee", root_path
    %nav
      - if !user_signed_in?
        = link_to "Sign up", new_user_registration_path
        = link_to "Sign in", new_user_session_path
      - else
        Signed in as #{current_user.email}
    = yield
